<div class="container-xxl">
    <div class="logo">
        <a routerLink="">LOGO</a>
    </div>
    <div class="navlinks">
        <a routerLink="" routerLinkActive="active">Home</a>
        <a routerLink="/about" routerLinkActive="active">About</a>
        <a routerLink="/services" routerLinkActive="active">Services</a>
        <a routerLink="/features" routerLinkActive="active">Features</a>
        <a routerLink="/contact" routerLinkActive="active">Contact</a>
        <a><button routerLink="/signup">Sign in</button></a> 
        
    </div>

</div>
