<div class="banner">
    <div class="banner-text">
        <h5>THE BEST DIGITAL AGENCY</h5>
        <h2>Create <span>the best</span> <br>
        digital  product <br> with us</h2>
        <p>You never go wrong with our product 
        we ensure quality in what <br> we deliver with 
         best customer satisfaction</p>
         <div class="search-bar">
            <input type="text" placeholder="Enter your email address">
            <button>Get Started</button>
         </div>
    
        
    </div>
    <div class="banner-image">
        <img src="/assets/agency.png">
    </div>
    


</div>



 <!-- Flash cards -->

 <div class="section">
    <h2>We are ready to make <br> the best digital products</h2>

    <div class="cards">
        <div class="card">
            <img src="/assets/data1.jpg" alt="Data image" class="card1-img">
            <div class="card-body">
            <h5 class="title">Work with data</h5>
            <p class="p">The location is strategic we have a great view of your Lorem ipsum dolor sit amet consectetur.Lorem ipsum dolor sit amet Lorem.</p>


            </div>
        </div>


        <div class="card">
            <img src="/assets/Documents.jpg" alt="Documents image" class="card1-img">
            <div class="card-body">
            <h5 class="title">Clear document</h5>
            
            <p class="p">The location is strategic we have a great view of your Lorem ipsum dolor sit amet Lorem Recusandae vel officia accusamus rerum quisquam.</p>


            </div>
        </div>



        <div class="card">
            <img src="/assets/Community.jpg" alt="Community image" class="card1-img">
            <div class="card-body">
            <h5 class="title">Large community</h5>
            <p class="p">The location is strategic we have a great view of your Lorem ipsum dolor sit amet consectetur.Lorem ipsum dolor sit amet Lorem Recusandae vel officia </p>


            </div>
        </div>
    </div>
 </div>

 <div class="about">
    <img src="/assets/team.png" alt="team image" class="Timg">
    <div class="article">
        <h2>About us</h2>
        <p>We have been operational for about ten years, we are experience proffesionals with over <span>2000+</span> clients <br>
        We have manage 1000 different projects from accross the country. We value quality services and <br>
        we strive to offer that to all our customers. Lorem ipsum dolor sit, amet consectetur adipisicing elit.<br>
        Ab, minima! Tenetur hic nisi illum et aliquid quasi amet.<br>
        Ratione qui dolor sapiente odit. Hic necessitatibus esse, incidunt autem ducimus aspernatur<br>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rerum accusantium eius ab iste iure illo harum saepe corporis. Officiis delectus id consequuntur, cumque iusto aliquam! Quis atque in consequatur repellendus?<br>
    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ex minima quasi dicta officia libero voluptas? Reprehenderit officiis culpa qui, vitae, cumque odit, dolorem eius facere maxime sequi aut itaque porro.</p>

    <button routerLink="/about">Learn more</button>

    </div>
    
    
 </div>
 

