input{
    width: 40%;
    
}
.main{
   margin: 20px 200px;
   background-color: beige;
   
   display: flex;
   flex-direction: column;
   
   width: 70%;

}
form{
    margin: 10px 0px 0px 300px;
}
h1{
    margin: 10px 0px 0px 300px;
}
input.ng-touched.ng-invalid{
    border: red 1px solid;

}
