<div class="main">
    <div class="BText">
        <p>Welcome </p>
        <h1>Sign Up</h1>
    </div>
    <div class="form">
        <form action="form" [formGroup]="SignupForm" (ngSubmit)="onSubmit()">
            <div class="fields">
                <label for="Fname">First Name </label> <br>
                <input type="text" id="Fname" formControlName="firstname">
                <div>
                    <small *ngIf="SignupForm.get('firstname').errors?.['required']  && SignupForm.get('firstname').touched"  >First name required</small>
                    <small *ngIf="SignupForm.get('firstname').errors?.['noSpaceAllowed']">First name cannot contain space</small>
                </div>
            </div>
            <pre></pre>
            <div class="fields">
                <label for="Lname">Last Name </label> <br>
                <input type="text" id="Lname" formControlName="lastname">
                <div>
                    <small *ngIf="SignupForm.get('lastname').errors?.['required']  && SignupForm.get('lastname').touched"  >last name required</small>
                    <small *ngIf="SignupForm.get('lastname').errors?.['noSpaceAllowed']">Last name cannot contain space</small>
                </div>
               
            </div>
            <pre></pre>
            <div class="fields">
                <label for="Email">Email </label> <br>
                <input type="email" id="Email" formControlName="email">
                <div>
                    <span style="color:red;"
                    *ngIf="SignupForm.get('email').errors?.['required'] && SignupForm.get('email').touched">
                        Email required
                    </span>
                    <span style="color:red;"
                    *ngIf="SignupForm.get('email').errors?.['email'] && SignupForm.get('email').touched">
                    The email entered is invalid
                        
                    </span>
                    
                </div>
            </div>
            <pre></pre>
            <div class="fields">
                <label for="Password">Password </label> <br>
                <input type="password" id="Password" formControlName="password">
                <div>
                    <small *ngIf="SignupForm.get('password').errors?.['required'] && SignupForm.get('password').touched">Password required </small>
                    <small *ngIf="SignupForm.get('password').errors?.['minlength'] && SignupForm.get('password').touched">Too small</small>
                </div>
            </div>
            <pre></pre>
            <div class="fields">
                <label for="Cpassword">Confirm Password </label> <br>
                <input type="password" id="Cpassword" formControlName="confirmPassword">
                <div>
                    <small *ngIf="SignupForm.get('confirmPassword').errors?.['required'] && SignupForm.get('confirmPassword').touched">Password required </small>
                    <small *ngIf="SignupForm.get('confirmPassword').errors?.['minlength'] && SignupForm.get('confirmPassword').touched">Too small</small>
                </div>
            </div>
            <pre></pre>

            
            
        
    
            <div class="button">
                <button type="submit">Sign Up</button>
                
            </div>
            <pre></pre>

            <div class="text2">
                <p>Have an account? <a routerLink="/login">Login</a></p>
            </div>
        </form>
    </div>
    
</div>